<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
</head>
<body>

	<h2>Project</h2>

	<table id="tabla">
		<tr>
			<th>House number</th>
			<th>Members</th>
			<th>Profits</th>
			<th>Phone</th>
			<th>Children</th>
		</tr>
		<tbody>
			<tr th:each="fmls:${families}">
				<th scope="row" th:text="${fmls.houseId}"></th>
				<td th:text="${fmls.members}"></td>
				<td th:text="${fmls.profits}"></td>
				<td th:text="${fmls.phone}"></td>
				<td th:text="${fmls.children}"></td>
			</tr>
		</tbody>
	</table>	 
	 <br>
	 <br>	 
	<form th:action="@{/family/children}" method ="get">
		<input id="quantity" type="text" name="quantity">
		<button type="submit">Filter by children</button>
	</form>
	 <br>
	 <br> 
	<form th:action="@{/family/profits}" method ="get">
		<input id="quantity" type="text" name="quantity">
		<button type="submit">Filter by profits</button>
	</form>
	 <br>
	 <br> 
	<a th:href="@{phone}" th:text="Families-without-phones"></a>
	
</body>
</html>